<!DOCTYPE html>
<html>
<head>
    <title>Note Detail</title>
</head>
<body>
    <h1>{{ note.title }}</h1>
    <p>{{ note.text }}</p>
    <p>Reminders: {{ note.reminders }}</p>
    <p>Category: {{ note.category }}</p>
    <form action="{% url 'note_delete' note.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    <form action="{% url 'note_list'%}" method="post">
        {% csrf_token %}
        <input type="submit" value="Back">
    </form>
</body>
</html>
